@{
    @model MvcSorunBildirim.Models.Basvuru
    ViewBag.Title = "Kullanıcı Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<form method="post">


    <div class="container">
        @Html.HiddenFor(x => x.Basvuru_Id)

        <div class="row ">
            <div class="col-md-12">
                @Html.LabelFor(x => x.AdSoyad)
                @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control", required = "required", maxlength = "25" })
            </div>


            <div class="col-md-12">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required", type = "email", maxlength = "30" })
            </div>

            <div class="col-md-12">
                @Html.LabelFor(x => x.Telefon)
                @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control", required = "required", type = "tel", maxlength = "11" })
            </div>


            <div class="col-md-12">
                <br />
                <button type="submit" class="btn btn-next">Sonraki <i class="fa fa-angle-right"></i></button>
            </div>


        </div>
    </div>

</form>