@{
    @model MvcSorunBildirim.Models.Basvuru
    ViewBag.Title = "Kullanıcı Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<form method="post">


    <div class="container">
        @Html.HiddenFor(x => x.Basvuru_Id)

        <div class="row ">
            <div class="col-md-12">
                @Html.LabelFor(x => x.AdSoyad)
                @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control", required = "required" })
            </div>


            <div class="col-md-12">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required", type = "email" })
            </div>

            <div class="col-md-12">
                @Html.LabelFor(x => x.Telefon)
                @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control", required = "required", type = "tel" })
            </div>


            <div class="col-md-12">
                <br />
                <input type="submit" class="btn btn-primary" value="İlerle" />
            </div>


        </div>
    </div>

</form>